<script>
    $(function () {
        $('.banner-fxwx').click(function () {
            $('.wx-ewm').stop(true, true).slideToggle();
        });
        $('.wx-ewm-gb').click(function () {
            $('.wx-ewm').stop(true, true).slideToggle();
        })
    })
</script>

<div class="qq-ewm">
    <div class="qq-ewm01">
        <p>扫一扫，关注我们</p>
        <div class="">

            <!--主要用于获取单条code信息，比如页脚，logo信息-->
            <img src="Default.aspx_files/83c17996-809a-4699-b7be-615a20b0188c.jpg" alt="">


        </div>
    </div>
    <div class="qq-ewm-gb"></div>
</div>
<script>
    $(function () {
        $('.banner-fxqq').click(function () {
            $('.qq-ewm').stop(true, true).slideToggle();
        });
        $('.qq-ewm-gb').click(function () {
            $('.qq-ewm').stop(true, true).slideToggle();
        })
    })
</script>


<script>
    $(function () {
        $("#aaaa").click(function () {


            //if (!myreg.test($("#txtEmail").val())) {
            //    alert('提示\n\n请输入有效的E_mail！');

            //    return false;
            //}
            //if ($("#txtTelephone").val() == '')
            //{ alert("请填写您的电话！"); return false; }
            //if (!/^1[34578]\d{9}$/.test($("#txtTelephone").val())) {
            //    alert('手机号错误,请填写正确的手机号码!');
            //    return false;
            //}
            if ($("#s03").val() == '')
            { alert("请填写您的邮箱！"); return false; }


            $.post("/ashx/ajaxHelp.ashx", { action: 'AddMessage', tc: "m", name: $("#teyname").val(), phone: $("#txtTelephone").val(), s03: $("#s03").val(), s04: $("#s04").val() },
                function (data) {
                    if (data == 1) {
                        alert("订阅成功");
                        window.location.href = "Default.aspx";
                    }
                });

        });
    });
</script>


<script>
    $(function () {
        var s =
            $(window).height();
        $(".banner01").css("height", s);
    })
</script>


<div class="footer">
    <p>

        <!--主要用于获取单条code信息，比如页脚，logo信息-->
        {$Think.Config.cfg_copyright}

    </p>
</div>

</form>

<script>

    $(".head-zyw .head-zyw-a01").click(function () {
        $(".head-zyw .head-zyw-a02").hide();
    });

    $(".head-zyw .head-zyw-a02").click(function () {
        $(".head-zyw .head-zyw-a01").show();
    });

</script>
<script>
    $(document).ready(function () {
        $(".sjnavdh01-gb").click(function () {
            $(".sjnavdh").animate({ left: '100%' });
        });
    });
    $(document).ready(function () {
        $(".sjnav").click(function () {
            $(".sjnavdh").animate({ left: '0' });
        });
    });
</script>

<script>
    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>

<script charset="utf-8" async="true" src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/js/jquery.js"></script>


</body></html>