<include file="Public:head" />
<div class="banner">

 <div class="">


  <!--所有的新闻单页列表信息-->

  <showad cid="1">
  <div class="banner01" style="background: rgba(0, 0, 0, 0) url({$field.pic}) no-repeat scroll center center / cover; height: 926px;"></div>
  </showad>

 </div>
 <div class="banner-nr">
  <div class="head clearfix">
   <div class="logo" style="margin-left:8rem;">
    <a href="/">

     <!--主要用于获取单条code信息，比如页脚，logo信息-->
     <img src="__ROOT__/{$Think.Config.cfg_logo}" alt="" style="width:80px;">


    </a>
   </div>
   <div class="head-zyw">

    <a class="head-zyw-a01" href="/?t=en">English</a>

   </div>
   <div class="nav">
    <ul class="clearfix">
     <li class="wow fadeInLeft animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
      <a href="/">首页</a></li>
     <?php $i=2;?>
     <channel type='top' >
     <li class="wow fadeInLeft animated" data-wow-delay="0.{$i}s" style="visibility: visible; animation-delay: 0.{$i}s; animation-name: fadeInLeft;">
      <if condition="$field['cname_en'] neq 'news'">
       <a href="/#{$field.keywords}" >
        <else />
        <a  href="{$field.url}" >
      </if>
       {$field.cname}</a>
     </li>
      <?php $i++;?>
     </channel>

    </ul>
   </div>
  </div>

  <div class="banner-zi wow fadeInUp delay-03s animated" style="visibility: visible; animation-name: fadeInUp;">
   <h2>联商链BAFC</h2>
   <p>打造新一代国际商业联盟生态圈</p>
   <ul class="clearfix">
    <li><a href="javascript:void (0);" target="_blank">GIT-Hub</a></li>
    <li><a href="javascript:void (0);" target="_blank">BLOCK-Explorer</a></li>
   </ul>
  </div>

 </div>
 <div class="banner-fx wow fadeInUp delay-03s animated" style="visibility: visible; animation-name: fadeInUp;">
  <ul class="clearfix">
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_04.png"> </a></li>
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_05.png"> </a></li>
   <li class="banner-fxwx"><a href="javascript:void (0);"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_06.png"> </a></li>
   <li class="banner-fxqq"><a href="javascript:void (0);"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_07.png"> </a></li>
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_08.png"> </a></li>
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_09.png"> </a></li>
  </ul>
 </div>
</div>


<div class="sj-banner">

 <div class="">


  <!--所有的新闻单页列表信息-->

  <showad cid="1">
  <div class="banner01" style="background: rgba(0, 0, 0, 0) url(&quot;{$field.pic}&quot;) no-repeat scroll center center / cover; height: 926px;"></div>
  </showad>

 </div>

 <div class="sj-banner-zi">
  <h2>分布式智能金融平台</h2>
  <p>智能金融＝智能众筹＋交易所＋Token银行</p>
 </div>

 <div class="sj-banner-an">
  <ul class="clearfix">
   <li><a href="javascript:void (0);" target="_blank">GIT-Hub</a></li>
   <li><a href="javascript:void (0);" target="_blank">BLOCK-Explorer</a></li>
  </ul>
 </div>

 <div class="sj-banner-fx">
  <ul class="clearfix">
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_04.png"> </a></li>
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_05.png"> </a></li>
   <li class="banner-fxwx"><a href="javascript:void (0);"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_06.png"> </a></li>
   <li class="banner-fxqq"><a href="javascript:void (0);"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_07.png"> </a></li>
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_08.png"> </a></li>
   <li><a href="javascript:void (0);" target="_blank"> <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/cq90_09.png"> </a></li>
  </ul>
 </div>

</div>


<div class="sj-gs wow fadeInUp delay-03s animated" style="visibility: visible; animation-name: fadeInUp;">

 <div class="sj-gs01" style="">

  <p>

   <!--主要用于获取单条code信息，比如页脚，logo信息-->
  </p>
  <p>联商链Business alliance financial circle，简称BAFC，是由澳大利亚联商链BAFC基金会发起，联合了全球各地的商业联盟共同组建的，以解决当前国际金融贸易中的各种问题为目标，致力于打造新一代的国际商业联盟生态圈，从而推进国际贸易和经济全球化的高速发展。</p>
  <p></p>
 </div>
</div>

<div class="fin" id="fin">
 <div class="fin-bt wow fadeInUp delay-03s animated" style="visibility: visible; animation-name: fadeInUp;">
  <h2>应用场景</h2>
 </div>
 <div class="fin-nr wow fadeInUp delay-03s animated" style="visibility: visible; animation-name: fadeInUp;">
  <ul>

   <!--所有的新闻单页列表信息-->


   <li class="clearfix wow fadeInUp delay-03s animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="fin-nr-zf">
     <h2>金融支付</h2>
     <p>

      金融的核心是信用的建立和传递，联商链充分运用区块链不可篡改、安全透明、去中心化或多中心化的特点在国际金融支付搭建落地，构建扁平化的全球一体化支付体系，以提高效率、降低成本。
     </p>
    </div>
    <div class="fin-nr-yr">
     <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/jrzf.png">
    </div>
   </li>


   <li class="clearfix wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
    <div class="fin-nr-zf">
     <h2>跨境支付</h2>
     <p>

      联商链将区块链技术运用到跨境支付领域，将传统金融机构、外汇做市商、流动性提供商等加入支付网络，构建成为支付网关。通过支付网关，可以将区块链上数字资产流动与现实中的法定货币相连接，实现法定货币与bafc转换，便于后续的支付转账，并连接传统做市商、汇出行、汇入行等机构，摒弃中间交易环节，实现点到点快速低成本支付。
     </p>
    </div>
    <div class="fin-nr-yr">
     <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/kjzf.png">
    </div>
   </li>


   <li class="clearfix wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
    <div class="fin-nr-zf">
     <h2>清算结算</h2>
     <p>
      交易清算/结算的过程也是交易双方分别记账的过程，联商链区块链系统，交易双方或多方可以共享一套可信、互认的账本，所有的交易清结算记录全部在链可查，安全透明、不可篡改、可追溯，极大提升对账准确度和效率。通过搭载智能合约，还可以实现自动执行的交易清结算，大大降低对账人员成本和差错率。
     </p>
    </div>
    <div class="fin-nr-yr">
     <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/qsjs.png">
    </div>
   </li>


  </ul>


 </div>
</div>


<div class="xfin wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
 <ul>

  <!--所有的新闻单页列表信息-->


  <li class="clearfix">
   <div class="xfin-zf clearfix wow slideInLeft" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
    <div class="xfin-zf01">
     <h2>商品溯源</h2>
     <p>联商链利用区块链技术，通过智能合约搭建去中心化的云平台。基于合约完成溯源防伪码的验证、物流码的查询，联商链在利用区块链技术的同时，引入最新的物联网RFID技术和AI人工智能，从商品的源头入手，在商品开始设计之初便开始区块记录，到原料的采购，生产，组装，成型，装箱，发货等整个生产流程和销售流程全部上链记录，从根本上保证商品的真实安全，做到真正的防伪溯源。
     </p>
    </div>
   </div>
   <div class="xfin-yr clearfix wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
    <div class="xfin-yr01">
     <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/spsy.png">
    </div>
   </div>
  </li>



  <li class="clearfix">
   <div class="xfin-zf clearfix wow slideInLeft" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
    <div class="xfin-zf01">
     <h2>商品流通</h2>
     <p>联商链运用区块链技术，充分发挥区块链技术的去中心化、可追溯不可篡改性等特征，将整个商品流通的过程上链，所有环节全部在区块链上记录解决，缩减中间不必要的环节，大大提高了商品流通的效率，同时也大大降低了商品的成本，对国际商品的流通具有着重大的推动作用。
     </p>
    </div>
   </div>
   <div class="xfin-yr clearfix wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
    <div class="xfin-yr01">
     <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/splt.png">
    </div>
   </div>
  </li>



 </ul>
</div>

<div class="sy-jsjg" id="bps">
 <div class="sy-jsjg-bt wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <h2>技术架构</h2>
  <div class="sy-jsjg-bt01"></div>
 </div>
 <div class="sy-jsjg-gs wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <p>

   <!--主要用于获取单条code信息，比如页脚，logo信息-->

  </p>
 </div>

 <div class="sy-jsjg-nr wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <ul class="clearfix">


   <!--所有的新闻单页列表信息-->

<showad cid="17">
   <li class="wow www delay-03s" style="visibility: hidden; animation-name: none;">
    <img src="{$field.pic}">
    <h2>{$field.name}</h2>
   </li>
</showad>



  </ul>
 </div>

</div>

<div class="sy-hxys" style="background: #0d4a9c;color: #ffffff">
 <div class="sy-hxys01">
  <div class="sy-jsjg-bt wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
   <h2 style="color: #ffffff">BAFC国际交易钱包</h2>
  <!-- <div class="sy-jsjg-bt01"></div>-->
  </div>
  <div class="sy-jsjg-gs wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;color: #ffffff">
   <p>

    <!--主要用于获取单条code信息，比如页脚，logo信息-->
   </p>
   <p style="text-align: center; margin: 0 auto; font-stretch: normal; line-height: 25px;display:block;width:80%;text-align:left;color:#ffffff" >
    <br></p>
   <p style="text-align: center; margin: 0px; font-stretch: normal; line-height: normal;" pingfang="" sc="" color:="" rgb="" 69="" min-height:="" 17px=""><br></p>

   <p>
   </p>
  </div>

  <div class="sy-jsjg-nr clearfix wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">

   <div class="sy-jsjg-nr-yr wow slideInLeft" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">

    <!--主要用于获取单条code信息，比如页脚，logo信息-->
    <p> <br></p><p><br></p>
    <p>
     <!--<img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/wallet.png" alt="">-->
     <debris id="5"><img src="{$field.pic}" alt=""></debris>
    </p>


   </div>
   <div class="sy-jsjg-nr-zf wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
    <p style="color:#ffffff;">
     联商链充分利用区块链技术打造一款多功能的BAFC国际交易钱包，运用到国际贸易和商品流通之中，将整个生态系统植入到钱包之中，通过钱包的功能来更好的促进整个生态圈的建设。
     <!--主要用于获取单条code信息，比如页脚，logo信息-->
    </p>
    <div style="border:0px solid #000;">
    <debris id="5">{$field.body}</debris>
    </div>
    <p></p>
   </div>
  </div>

 </div>
</div>

<div class="sy-bps"  id="qbxz">
 <div class="sy-jsjg-bt wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <h2>白皮书</h2>
  <!--<div class="sy-jsjg-bt01"></div>-->
 </div>
 <div class="sy-jsjg-gs wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <p>

   <!--主要用于获取单条code信息，比如页脚，logo信息-->
  </p><p style="margin: 0px; font-stretch: normal; line-height: normal; font-family: " pingfang="" sc="" color:="" rgb="" 69=""><span style="font-size:18px;"></span></p><div><br></div>

  <p></p>
 </div>

 <div class="sy-bps-nr clearfix wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">


  <!--所有的新闻单页列表信息-->

  <debris id="4">
  <div class="sy-bps-nr-zf wow slideInLeft" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
   <img src="{$field.pic}">
  </div>
  <div class="sy-bps-nr-yr wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
   <p>
    {$field.body}

   </p>
   <a href="http://www.finchain.info/UserFiles/Article/bpsxz/709d2be0-af25-494c-8169-621a68f60d66.rar">阅读我们的白皮书</a>
  </div>
  </debris>

 </div>

</div>



<div class="sy-lxt">
 <div class="sy-jsjg-bt wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <h2>路线图</h2>
  <div class="sy-jsjg-bt01"></div>
 </div>

 <div class="sy-lxt-nr wow slideInRight animated" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: none;">
  <table>
   <tbody><tr>
    <th>日期</th>
    <th>进展</th>
    <th>社区</th>
   </tr>



   <!--所有的新闻单页列表信息-->



   <tr>
    <td>
     <div class="sy-lxt-nrrq">
      <span>2018-06</span>
     </div>
    </td>
    <td>
     <h2>联商链BAFC基金会成立，BAFC项目立项；</h2>
    </td>
    <td>
     <p>6K +</p>
    </td>
   </tr>


   <tr>
    <td>
     <div class="sy-lxt-nrrq">
      <span>2018-08</span>
     </div>
    </td>
    <td>
     <h2>白皮书，官网搭建完成；</h2>
    </td>
   <td>
     <p>10K +</p>
    </td>
   </tr>



   <tr>
    <td>
     <div class="sy-lxt-nrrq">
      <span>2018-08</span>
     </div>
    </td>
    <td>
     <h2>开启认购（内排期）；</h2>
    </td>
    <td>
     <p>12K +</p>
    </td>
   </tr>



   <tr>
    <td>
     <div class="sy-lxt-nrrq">
      <span>2018-9</span>
     </div>
    </td>
    <td>
     <h2>社区搭建；</h2>
    </td>
    <td>
     <p>15K +</p>
    </td>
   </tr>



   <tr>
    <td>
     <div class="sy-lxt-nrrq">
      <span>2018-8~9</span>
     </div>
    </td>
    <td>
     <h2>上线国际交易所；</h2>
    </td>
    <td>
     <p>30K +</p>
    </td>
   </tr>



   <tr>
    <td>
     <div class="sy-lxt-nrrq">
      <span>2018-08</span>
     </div>
    </td>
    <td>
     <h2>BAFC多币种国际交易钱包；</h2>
    </td>
    <td>
     <p>50k+</p>
    </td>
   </tr>



   </tbody></table>
 </div>
 <div class="sy-lxt-db">
  <h2>........</h2>
 </div>
</div>



<div class="sy-mt">
 <div class="sy-jsjg-bt wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <h2>媒体</h2>

 </div>
 <div class="sy-jsjg-gs wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">

 </div>
 <div class="sy-mt-nr wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
  <div id="scroll1" class="owl-carousel owl-theme owl-loaded">


   <!--所有的新闻单页列表信息-->

   <!--<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1110px, 0px, 0px); transition: all 0s ease 0s; width: 3330px;">-->

   <artlist cid="20" row='3' flag="c">
    <div class="item">
     <a href="{$field.url}">
      <img src="{$field.pic}"/>
      <div class="sy-mt-nr01">
       <h2>{$field.article_title|cms_substr="20"}</h2>
       <p>{$field.keywords}</p>
      </div>
     </a>
    </div>
   </artlist>



   </div></div>
   <div class="owl-controls">
    <div class="owl-nav">
     <div class="owl-prev" style="">

     </div>
     <div class="owl-next" style=""></div>
    </div>
    <div style="" class="owl-dots">
     <div class="owl-dot active"><span></span></div>
    </div>
   </div>
  </div>
 </div>
</div>


<div class="sy-yxdy wow fadeInUp delay-03s" style="visibility: hidden; animation-name: none;">
 <div class="sy-yxdy01">
  <div class="sy-qbxz-bt wow xz delay-03s" style="visibility: hidden; animation-name: none;">
   <h2>邮箱订阅</h2>
   <div class="sy-qbxz-bt01"></div>
  </div>
  <div class="sy-qbxz-gs">
   <p>

    <!--主要用于获取单条code信息，比如页脚，logo信息-->
    订阅邮箱，获取最新资讯

   </p>
  </div>

  <div class="sy-yxdy-nr clearfix">
   <div class="sy-yxdy-nr-zf">
    <input placeholder="您的姓名" id="teyname" type="text">
   </div>
   <div class="sy-yxdy-nr-yr">
    <input placeholder="您的邮箱地址" id="s03" type="text">
    <a id="aaaa">立即订阅</a>
   </div>

  </div>

 </div>

</div>


<div class="wx-ewm">
 <div class="wx-ewm01">
  <p>扫一扫，关注我们</p>
  <div class="">

   <!--主要用于获取单条code信息，比如页脚，logo信息-->
   <img src="__PUBLIC__/{$Think.Config.DEFAULT_THEME}/images/e9246939-3965-4fb1-9f0c-206c4c328e2e.jpg" alt="">


  </div>
 </div>
 <div class="wx-ewm-gb"></div>
</div>

<include file="Public:foot" />